/* colors: https://materialuicolors.co/ */

body {
    background-color: #263238;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    line-height: 0;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 1vw;
    width: calc(100% - 2vw);
}

.content {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #37474F;
}

.shield-list-bar {
    position: relative;
    z-index: 90;
    margin: 0 auto;
    width: 100vw;
    height: 15vh;
    background-color: rgba(66, 78, 83, 50);
    box-shadow: 0 1vh 1vh 0 #00000050;
}

.shield-list {
    height: 6vh;
    padding: 1vh;
}

.shield-list-top {
    padding-bottom: 0.5vh;
}

.shield-list-bottom {
    padding-top: 0.5vh;
}

.rolls-container {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 100vw;
    height: 68vh;
    overflow: hidden;
    background-color: #37474F;
}

.toolbar {
    position: relative;
    z-index: 90;
    margin: 0 auto;
    width: 100vw;
    height: 17vh;
    background-color: rgba(66, 78, 83, 50);
    box-shadow: 0 -1vh 1vh 0 #00000050;
}

.controls-container {
    display: inline-flex;
    justify-content: center;
    padding: 0.75vh 0 0;
    width: 100%;
}

.toolbar-button {
    display: inline-block;
    margin: 0 0.5vh;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    box-shadow: 0 0 1vh 0 #00000050;
    background-color: #607D8B;
    border: none;
    border-radius: 1.5vh;
    padding: 0 1vh;
    width: 20vh;
    height: 7vh;
    line-height: 7vh;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.toolbar-button-square {
    padding: 0;
    width: 7vh;
}

.toolbar-button:hover {
    color: #CFD8DC;
    background-color: #546E7A;
}

.toolbar-button:active {
    color: #CFD8DC;
    background-color: #90A4AE;
}

.toolbar-button:disabled {
    color: rgb(78, 82, 83);
    background-color: rgb(49, 62, 68);
}

.toolbar-button-icon {
    display: inline-block;
    width: 3vh;
    height: 3vh;
}

img.die {
    display: inline-block;
    width: calc(calc(100% - 3vmin) / 6);
    height: calc(calc(100% - 3vmin) / 6);
    margin: 1vmin 0.25vmin;
}

img.die-old {
    filter: grayscale(50%) brightness(75%);
    display: inline-block;
    width: calc(calc(100% - 3vmin) / 6);
    height: calc(calc(100% - 3vmin) / 6);
    margin: 1vmin 0.25vmin;
}

img.die-button {
    box-shadow: 0 0 2vh #ffffffaa;
    width: 7vh;
    height: 7vh;
    margin: 0 0.25vh;
}

img.die-button-inactive {
    filter: grayscale(50%) brightness(75%);
    width: 7vh;
    height: 7vh;
    margin: 0 0.25vh;
}

img.shield-button {
    border-radius: 3vh;
    box-shadow: 0 0 5vh #ffffff77 inset, 0 0 2vh #ffffff99;
    width: 7vh;
    height: 7vh;
    margin: 0h;
}

img.shield-button-inactive {
    border-radius: 3vh;
    filter: grayscale(50%) brightness(75%);
    width: 7vh;
    height: 7vh;
    margin: 0;
}

.shield-container {
    position: relative;
    display: inline-block;
    width: 1.5vh;
    height: 6vh;
}

img.shield {
    position: absolute;
    display: inline-block;
    width: 6vh;
    height: 6vh;
    margin: 0;
    padding: 0;
}

.shield-count-display {
    position: relative;
    top: -1.5vh;
    display: inline-block;
    width: 10vh;
    height: 100%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    text-align: right;
    line-height: 5.5vh;
}