/* colors: https://materialuicolors.co/ */

body {
    /* font-size: 0; */
    /* display: block; */
    background-color: #263238;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
    /* margin: 0 auto; */
}

.toolbar {
    /* justify-content: center; */
    /* display: inline-flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    width: 90vmin;
    height: 10vmin;
    background-color: rgba(66, 78, 83, 50);
    box-shadow: 0 -1vmin 1vmin 0 #00000050;
}

.controlsContainer {
    display: inline-flex;
    justify-content: center;
    padding: 1.5vmin 0;
    /* padding: 0 auto; */
    /* margin: auto; */
    /* width: 30vmin; */
    /* height: 100%; */
    width: 100%;
    /* flex: auto; */
    /* background-color: magenta; */
    font-size: 2vmin;
}

.toolbar-button {
    display: inline-block;
    margin: 0 0.5vmin;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vmin;
    box-shadow: 0 0 1vmin 0 #00000050, inset 0 0 1vmin 0 #FFFFFF50;
    /* text-shadow: 0 0 1vmin 1vmin #000000ff; */
    background-color: #607D8B;
    border-radius: 1.5vmin;
    padding: 0 1vmin;
    width: 20vmin;
    height: 7vmin;
    line-height: 7vmin;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.toolbar-button-square {
    padding: 0;
    width: 7vmin;
}

.toolbar-button:active {
    color: #CFD8DC;
    background-color: #90A4AE;
}

.toolbar-button-icon {
    display: inline-block;
    width: 3vmin;
    height: 3vmin;
}

.rollsContainer {
    margin: 0 auto;
    width: 90vmin;
    height: 90vmin;
    background-color: #37474F;
    /* box-shadow: black; */
}


/* .rollResult
{
    margin: 0 2.5%;
} */

img.die {
    display: inline-block;
    /* box-shadow: -2px 2px 2px 0px black; */
    width: 9%;
    height: 9%;
    margin: 0 0.5%;
    /* width: 32px; */
    /* height: 32px; */
    /* margin: 0px, 2px; */
}

img.die-old {
    filter: grayscale(50%) brightness(75%);
    display: inline-block;
    width: 9%;
    height: 9%;
    margin: 0 0.5%;
    /* width: 32px; */
    /* height: 32px; */
    /* margin: 0px, 2px; */
}